/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.idea
*.iml
.vagrant
js-gen
figwheel_server.log
node_modules
resources/public/css/pipeline.css
resources/public/css/main.css
gh-pages-api-doc-release
