before_script:
  - ./scripts/travis_prebuild.sh
  - ./go deps
language: clojure
env:
  matrix:
  - CLOJURE_VERSION: 1.8.0
  - CLOJURE_VERSION: 1.9.0
addons:
  chrome: stable

script: ./go test && ./go check-style

jobs:
  include:
    - stage: check dependencies for vulnerabilities
      script: ./go check-dependencies
    - stage: check for flakyness
      script: ./go test-clj-unit-repeat
sudo: required
group: edge
cache:
  directories:
  - $HOME/.m2
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/6e9d7b10030f609a46cc
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
