/* framework changes */
.ui.items > .item > .image {
    vertical-align: middle;
}




/* browser reset */
ul.items {
    padding:0;
}

/* pipeline styling */
ol.pipeline {
  display:flex;
}

.pipeline li {
  display:flex;
  margin-left:10px;
  box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15); /* .ui.steps.step */

  /*.ui.steps .step .title */
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1.0714em;
  font-weight: bold;
}
