<aside class="bg-dark">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>It's easy to get started!</h2>
      <a href="{{ "/getting-started" | prepend: site.baseurl }}" class="btn btn-default btn-xl">Getting started</a>
    </div>
  </div>
</aside>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Check out the code</h2>
        <hr class="primary">
        <p>Want to know all the details or want to contribute? Check us out on GitHub</p>
      </div>

      <div class="col-lg-12 text-center">
        <i class="fa fa-github fa-3x"></i>
        <p><a href="https://github.com/flosell/lambdacd">flosell/lambdacd</a></p>
      </div>
    </div>
  </div>
</section>

