<nav id="mainNav" class="navbar navbar-default navbar-fixed-top {% unless page.landingpage %} affix {% endunless %}">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand page-scroll lambdacd-logo" href="{{ "/#page-top" | prepend: site.baseurl }}">
      <img src="{{ "/img/lambdacd-logo.png" | prepend: site.baseurl }}"/><span>LambdaCD</span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="page-scroll" href="{{ "/#about" | prepend: site.baseurl }}">About</a>
        </li>
        <li>
          <a class="page-scroll" href="{{ "/#features" | prepend: site.baseurl }}">Features</a>
        </li>
        <li>
          <a class="page-scroll" href="{{ "/#example" | prepend: site.baseurl }}">Example</a>
        </li>
        {% for page in site.pages %}
          {% if page.navtitle %}
            <li>
              <a href="{{ page.url | prepend: site.baseurl }}">{{ page.navtitle }}</a>
            </li>
          {% endif %}
        {% endfor %}
        <li>
          <a class="page-scroll" href="https://github.com/flosell/lambdacd/wiki">Wiki</a>
        </li>
        <li>
          <a class="page-scroll" href="https://github.com/flosell/lambdacd"><i class="fa fa-2x fa-github"></i></a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
