ol {
  display:flex;
}

li {
  display:flex;
  flex-shrink:0;
  margin-left:10px;
  border: thin black solid;
}


li[data-status=waiting] {
  background:lightyellow;
}

li[data-status=waiting]:after {
  content: "click to trigger";
}

li[data-status=running] {
  background:lightblue;
}

li[data-status=success]  {
  background:lightgreen;
}

li[data-status=failure]  {
  background:tomato;
}

li[data-status=undefined] {
  background:yellow;
}
