ol {
  display:flex;
}

ul,ol {
  /* reset browser default */
  padding-left:0;
}

li {
  display:flex;
  flex-shrink:0;
  margin-left:10px;
  border: thin black solid;
}


li[data-status=waiting] {
  background:lightyellow;
}

.trigger,.retrigger {
  visibility:hidden;
  margin-left:5px;
  cursor:pointer;
}

li[data-status=waiting] .trigger {
  visibility:visible;
}

li[data-status=success] .retrigger,
li[data-status=failure] .retrigger{
  visibility:visible;
}

li[data-status=running] {
  background:lightblue;
}

li[data-status=success]  {
  background:lightgreen;
}

li[data-status=failure]  {
  background:tomato;
}

li[data-status=undefined] {
  background:yellow;
}
