
#app {
  display:flex;
  border-top: thin black solid;
  height:100%;
  width:100%;
}

#builds {
  margin-right:10px;
  padding-right:10px;

  flex-shrink:0;
  border-right: thin black solid
}

.title {
  margin-bottom:10px;
}

#currentBuild ol {
  display:flex;
}

ul,ol {
  /* reset browser default */
  padding-left:0;
}

#currentBuild li {
  display:flex;
  flex-shrink:0;
  margin-left:10px;
  border: thin black solid;
}

div {
  display:flex;
}

div.blocked {
  display:block;
}

li[data-status=waiting] {
  background:lightyellow;
}

.trigger,.retrigger {
  margin-left:5px;
  cursor:pointer;
}

.step-link {
  color: inherit;
  text-decoration: none;
}

li[data-status=running] {
  background:lightblue;
}

li[data-status=success]  {
  background:lightgreen;
}

li[data-status=failure]  {
  background:tomato;
}

li[data-status=undefined] {
  background:yellow;
}

li[data-status=killed] {
  background:lightgrey;
}
