@import "_variables";

.app {
  min-height:100%;
  min-width:100%;
}

.app__content {
  flex: 1;
  border-top: thin black solid;
}

.app--connection-lost * {
  opacity: 0.8;
}

.app__history {
  border-right: thin black solid;
}
