@import "_variables";

.app {
  min-height:100%;
  min-width:100%;
}

.app__content {
  flex: 1;
}

.app--connection-lost * {
  opacity: 0.8;
}

.app__history {
  background-color: @history-background-color;;
  flex-shrink: 0;
}

.app__header {
  background-color: @header-background-color;

  padding-left: 0.5em;

  letter-spacing: 0.1em;
}
