@import "_variables";


.history h2 {
  padding-left:.5em;
}

.history--item:nth-child(1) {
  border-top: thin @border-color solid;
}

.history--item--active {
  font-weight: bold;
}

.history--item {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right:10px;
  padding-left:.5em;
  display:flex;
  border-bottom: thin @border-color solid;
}

.history--item--container {
  display:flex;
  flex-direction:column;
}

.history--item--status-icon {
  padding-right:5px;
  padding-left:5px;
  padding-top:5px;
  opacity: @base-foreground-opacity;
}

.history--item--line {
  display: inline-block;
}

.history--item--line--item {
  display: inline;
}