ul,ol {
  /* reset browser default */
  padding-left:0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

pre {
  white-space: pre-wrap;
}

.step-link {
  color: inherit;
  text-decoration: none;
}

