ol {
  display:flex;
}

li {
  display:flex;
  margin-left:10px;
  border: thin black solid;
}


li[data-status=running] {
  background:blue;
}

li[data-status=success]  {
  background:green;
}

li[data-status=failure]  {
  background:red;
}

li[data-status=undefined] {
  background:yellow;
}
