.step-link {
  color: inherit;
  text-decoration: none;
}

.results {
  display:inline-block;
}

.details-container ul {
  padding-left: 40px;
}

.details-container {
  display: block;
}

/* cleaned up CSS below */

/* Resets START */
ul,ol {
  /* reset browser default */
  padding-left:0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Resets END */

/* Layout START */
.l-horizontal {
  display: flex;
  flex-direction: column;
}

.l-vertical {
  display: flex;
  flex-direction: row;
}
/* Layout END */

/* App START */
.app {
  height:100%;
  width:100%;
}

.app__content {
  flex: 1;
  border-top: thin black solid;
}

.app--connection-lost * {
  opacity: 0.8;
}

.app__history {
  border-right: thin black solid;
}

.app__current-build {
}

/* App END */

/* History Start */
.history {
  min-width:120px;
}
.history--item {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right:10px;
  border-bottom: thin black solid;
  display:flex;
}

.history--item--status-icon {
  display:block;
  padding-right:5px;
  padding-left:5px;
}

.history--item--detail-line {
  margin: 0;
}

/* History End */

/* Pipeline START */
.pipeline__step-container {
  display:-ms-flexbox;
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;
}

.pipeline__step-container--sequential {
  flex-direction: row;
}

.pipeline__step-container--parallel {
  flex-direction: column;
}

.pipeline {
  overflow-y: scroll;
}

.pipeline__step {
  display:-ms-flexbox;
  display:-webkit-box;
  display:-webkit-flex;
  display:flex;

  flex-shrink:0;
  margin-left:10px;
  border: thin black solid;
}

.pipeline__step--running {
    background:lightblue;
}
.pipeline__step--waiting {
  background:lightyellow;
}
.pipeline__step--success {
    background:lightgreen;
}
.pipeline__step--failure {
  background:tomato;
}
.pipeline__step--killed {
  background:lightgrey;
}
.pipeline__step--no-status {
  background:white;
}

.pipeline__step__action-button {
  margin-left:5px;
  cursor:pointer;
}
/* Pipeline END */
